
<ion-view title="{{farmacia.nombre}}">
  <ion-content has-header="true" padding="true">

<ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Atras
      </ion-nav-back-button>
    </ion-nav-bar>
    
	<div class="list card">
	  		<div class="item item-divider">
		  		<h2 class="center">{{farmacia.nombre}}</h2> 
		  	</div>
		    <ul class="list">

		      <li class="item item-icon-left">
		        <i class="icon ion-email"></i>
		        <p>{{farmacia.email}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-ios7-telephone"></i>
		        <p>{{farmacia.telefono}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-map"></i>
		        <p>{{farmacia.direccion}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-social-facebook"></i>
		        <p>{{farmacia.web}}</p>
		      </li>

		    </ul>
	</div>

	<h3 class="center">Sucursales:</h3 >
	
	<!-- Farmacias que ofrecen el producto -->
	<div class="list card">
	  	<ion-list>
	  	    <div class="list">
	  		    <a class="item item-button-right" ng-repeat="sucursal in sucursales" href="#/tab/sucursal/{{sucursal.id}}">
	  		       {{ sucursal.nombre }} <small> en {{ sucursal.municipios.nombre }}</small>
	  		       <button class="button sinBorde">
	  		         <i class="ion-chevron-right"></i>
	  		       </button>
	  		     </a>
	  		</div>
	  	</ion-list>
	</div>

  </ion-content>
</ion-view>
