
<ion-view title="{{producto.nombre}}">
  <ion-content has-header="true" padding="true">

	<!-- Detalles del Producto -->
	<div class="list card">
	  	<div class="center item item-divider">
		  	<h2><strong> {{producto.nombre}} </strong></h2>
	  	</div>
	  	<div class="item item-text-wrap">
		    <p>{{producto.descripcion}}</p>
	  	</div>
	</div>
	
  	<h3 class="center">Displonible en:</h3 >
	
	<!-- Farmacias que ofrecen el producto -->
	<div class="list card">
	  	<ion-list>
	  	    <div class="list">
	  		    <a class="item item-button-right" ng-repeat="sucursal in sucursales" href="#/tab/sucursal/{{sucursal.id}}">
	  		       <strong>{{ sucursal.nombre }} </strong> 
	  		       <small> en {{ sucursal.municipio }} </small>
	  		        <span class="badge badge-assertive">{{ sucursal.precio | currency }}</span>
	  		       <button class="button sinBorde">
	  		         <i class="ion-chevron-right"></i>
	  		       </button>
	  		     </a>
	  		</div>
	  	</ion-list>
	</div>

  </ion-content>
</ion-view>
