
<ion-view title="{{farmacia.nombre}}">
  <ion-content has-header="true" padding="true">

<ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Atras
      </ion-nav-back-button>
    </ion-nav-bar>
    
	<div class="list card">
		<div class="item item-divider">
			<center><img src="img/ionic.png"></center>
		</div>
	  	<div class="item item-body">
	  		<div class="item item-divider">
		  		<h2 class="center">{{farmacia.nombre}}</h2> 
		  	</div>
		    <ul class="list">

		      <li class="item item-icon-left">
		        <i class="icon ion-email"></i>
		        <p>{{farmacia.email}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-ios7-telephone"></i>
		        <p>{{farmacia.telefono}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-map"></i>
		        <p>{{farmacia.direccion}}</p>
		      </li>
		      <li class="item item-icon-left">
		        <i class="icon ion-social-facebook"></i>
		        <p>{{farmacia.web}}</p>
		      </li>

		    </ul>
	  	</div>
	</div>

  </ion-content>
</ion-view>
