
<ion-view title="{{producto.nombre}}">
  <ion-content has-header="true" padding="true">

	<!-- Detalles del Producto -->
	<div class="list card">
		<div class="item item-divider">
			<center><img src="img/ionic.png"></center>
		</div>
	  	<div class="item item-body">
		  	<h1>{{producto.nombre}}</h1>
		    <p>
		      {{producto.descripcion}}
		    </p>
	  	</div>


	</div>
	
  	<h3 class="center">Displonible en:</h3 >
	
	<!-- Farmacias que ofrecen el producto -->
	<div class="list card">
	  	<div class="item">
  		    <div class="list">
			
  		      <a class="item item-icon-left" href="#/tab/farmacia/{{producto.farmacia_id}}">
  		        <i class="icon ion-beaker"></i>
  		        {{producto.farmacia}}
  		        <span class="badge badge-positive">{{ producto.precio | currency}}</span>
  		      </a>

  		    </div>
	  	</div>
	</div>

  </ion-content>
</ion-view>
