<ion-view title="">
    <ion-content class="padding inicio">
	

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Busca algo que te haga sentir mejor" ng-model="producto" ng-change="cargarProductos(producto)">
          </label>
        </div>
    	
        <center ng-show="buscar">
            <i class="icon ion-chevron-up"></i>
            <h2>¿Te sientes mal?</h2>
            <img src="img/ionic.png">
            <h2>Encuentra algo que te haga sentir mejor</h2>
        </center>
        
        <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="producto in productos" href="#/tab/producto/{{producto.id}}">
            <img src="img/ionic.png">
            <h2>{{producto.nombre}}</h2>
            <p>{{producto.descripcion}}</p>
          </a>
        </div>

    </ion-content>
</ion-view>
