<ion-view title="Productos">
  <ion-content>

	<ion-list>
	    <div class="list">
		    <a class="item item-thumbnail-left" ng-repeat="producto in productos" href="#/tab/producto/{{producto.id}}">
		      <img src="img/ionic.png">
		      <h2>{{producto.nombre}}</h2>
	        <p>{{producto.descripcion}}</p>
	        <p>{{producto.categoria}}</p>
		      <p><strong>{{producto.farmacia}}</strong></p>
	        <p>{{producto.precio | currency}}</p>
		    </a>
		</div>
	</ion-list>
	
	<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
