

/****************** Inicio ************************/
#buscador{
	border-color: green !important;
}

#buscador>input[type="text"]{
	font-size: 16px !important;
}

#txtPrincipal>h3{
	color: #174912 !important;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
#txtPrincipal>i{
	font-size: 40px !important;
	color: #174912 !important;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

.inicio{
	/*background-image: url('../img/background.jpg');
	background-size: 100% 100%;*/
}

.loading{
	color: green;
	font-size: 40px;
}


/**************************************************/

.center{
	text-align: center !important;
}


p{
	margin: 0px !important;
	padding: 0px !important;
}

.sinBorde{
	border-color: #fff !important;
	background-color: #fff !important;
	border-width: 0px !important;
}